body {
    background-image: url(../imagens/foto-perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #BD04B3;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao {
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img {
    border-radius: 50px;
    border: 4px solid #E81E3C;

}

.cartao .minhas-informacoes .nome {
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo {
    font-size: 20px;
    color: #9517E8;
}

.cartao .conteudo {
    background-color: #000;
    margin-top: 15px;
}

.cartao .abas {
    display: flex;
}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img {
    width: 30px;
}

.cartao .abas .aba.selecionado {
    background-color: #000;
}

.cartao .informacoes-abas {
    background-color: #000;
}

.cartao .abas .aba:hover {
    background-color: #9517E8;
}

.informacoes-abas .informacao {
    min-height: 260px;
    padding: 15px;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo {
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
    background: radial-gradient(circle, #f0c2d6, #b87a9a, #4a1f36);
}

.informacoes-abas .descricao {
    font-size: 18px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao span {
    background: radial-gradient(circle, #ED3261, #21011A, #E01212);
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a {
    background: radial-gradient(circle, #f0c2d6, #b87a9a, #4a1f36);
    width: 250px;
    display: block;
    color:  #BD04B3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover {
    opacity: 0.8;
}

